<ons-page id="setting_duration" ng-controller="ListTodoController">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="setting.navi.popPage();"><ons-icon icon="ion-arrow-left-c"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">Setting Duration</div>
      </ons-toolbar>
      <ons-list>
        <ons-list-item>
          <div class="list__item__center">
            <input type="range" class="range range--material">
          </div>
          <div class="list__item__right">
            25 minutes
          </div>
        </ons-list-item>
    </ons-page>
