<ons-navigator title="Navigator" var="tab_2.navi">
        <ons-page>
          <img src="image/graph.png" alt="" style="width: 100%; margin-top: 10px;">
          <ons-list class="timeline" modifier="inset">
            <ons-list-header modifier="material" class="list__header list__header--material" _compiled="" style="font-weight: bold;">STATISTIC</ons-list-header>
            <ons-list-item class="timeline-li" modifier="tappable">
              <ons-row>
                <ons-col width="30px">
                  <ons-icon icon="ion-ios-information-outline"></ons-icon>
                </ons-col>
                <ons-col>
                  <div class="timeline-message">
                    15 Todo total
                  </div>
                </ons-col>
              </ons-row>
            </ons-list-item>
            <ons-list-item class="timeline-li" modifier="tappable">
              <ons-row>
                <ons-col width="30px">
                  <ons-icon icon="ion-ios-information-outline"></ons-icon>
                </ons-col>
                <ons-col>
                  <div class="timeline-message">
                    10 Pomo completed
                  </div>
                </ons-col>
              </ons-row>
            </ons-list-item>
          </ons-list>
          <ons-list class="timeline" modifier="inset">
            <ons-list-header modifier="material" class="list__header list__header--material" _compiled="" style="font-weight: bold;">BEST WORK</ons-list-header>
            <ons-list-item class="timeline-li" modifier="tappable">
              <ons-row>
                <ons-col width="30px">
                  <ons-icon icon="ion-ios-information-outline"></ons-icon>
                </ons-col>
                <ons-col>
                  <div class="timeline-message">
                    Best workday : Friday
                  </div>
                </ons-col>
              </ons-row>
            </ons-list-item>
            <ons-list-item class="timeline-li" modifier="tappable">
              <ons-row>
                <ons-col width="30px">
                  <ons-icon icon="ion-ios-information-outline"></ons-icon>
                </ons-col>
                <ons-col>
                  <div class="timeline-message">
                    Best worktime : 8h-10h
                  </div>
                </ons-col>
              </ons-row>
            </ons-list-item>

          </ons-list>
        </ons-page>
    </ons-navigator>
